body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Card Animation .card.col {
    border: none;
} */

.scene {
    width: 150px;
    height: 150px;
    perspective: 400px;
}

.catCard {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.side {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    object-fit: cover;
}

.front {
    transform: rotateY(180deg);
}

img.front {
    border-radius: 20px;
    z-index: 100000000000;
}

.back {
    background-color: blueviolet;
    color: #fff;
    font-size: 75px;
    text-align: center;
    border-radius: 20px;
}

.sp-back {
    vertical-align: middle;
}

.catCard.active {
    transform: rotateY(180deg);
}

/* Card Animation End */

.header {
    color: #fff;
    text-align: center;
}

/* Homepage Option Styling */
.homepage {
    min-height: 90vh;
}
.options-card {
    width: 300px;
    height: 300px;
    border: 2px solid #cdcdcd;
    border-radius: 6px;
    background-color: rgb(205, 205, 205, 0.5);
}
